<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <h2>Something went wrong, please try again after sometime!</h2>
    </main>

<%- include('includes/end.ejs') %>